/* Box sizing rules */
*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

/* Remove default margin */
*,
*::before,
*::after,
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Avoid text overflows */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Remove list styles on ul, ol elements  */
ul,
ol {
  list-style: none;
}

/* allow percentage-based heights in the application */

html {
  height: 100%;
  -webkit-scroll-behavior: smooth; /* Webkit prefix */
  -ms-scroll-behavior: smooth; /* IE prefix */
  scroll-behavior: smooth;
}

/* Set core body defaults */

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a,
button {
  /* vendor prefix */
  cursor: -webkit-pointer; /* Safari and Chrome */
  cursor: -moz-pointer; /* Firefox */
  cursor: -ms-pointer; /* Internet Explorer */
  cursor: -o-pointer; /* Opera */
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
/* Remove default settings */
a,
button,
form,
input {
  border: none;
  outline: -webkit-none; /* Safari and Chrome */
  outline: -moz-none; /* Firefox */
  outline: -ms-none; /* Internet Explorer */
  outline: -o-none; /* Opera */
  outline: none;
  -webkit-user-select: none;
  -webkit-user-select: none; /* Safari and Chrome */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  background: none;
  box-shadow: none;
}

/* Make images easier to work with */
img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
  -o-object-fit: cover; /* Opera prefix */
  -webkit-object-fit: cover; /* Webkit prefix */
  object-fit: cover;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    -webkit-scroll-behavior: auto; /* Webkit prefix */
    -ms-scroll-behavior: auto; /* IE prefix */
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    -webkit-animation-duration: 0.01ms !important; /* Webkit prefix */
    -webkit-transition-duration: 0.01ms !important; /* Webkit prefix */
    animation-duration: 0.01ms !important;
  }
}

/* styles applied for this project only */

html {
  font-size: 62.5%;
}

img {
  height: auto;
}

input {
  width: 100%;
}

ion-icon {
  -webkit-pointer-events: none; /* Safari and Chrome */
  -moz-pointer-events: none; /* Firefox */
  -ms-pointer-events: none; /* Internet Explorer/Edge */
  pointer-events: none;
}

address {
  font-style: normal;
}

ul {
  margin-block: 0;
  padding-inline-start: 0;
}

body {
  font-family: $font-family;
  color: $primary-txt-clr;
  font-size: $font-size-s;
  line-height: 1.8;
  /* prevent overlap with fixed header and navigation */
  padding-top: 4em;
  padding-block-start: 4em;
  background-color: $white-bg-cl;
}
