.newsletter {
  margin-top: 3em;
  .container {
    -ms-display: grid;
    -moz-display: grid;
    -webkit-display: grid;
    -o-display: grid;
    display: grid;

    -ms-grid-columns: 1fr;
    -moz-grid-columns: 1fr;
    -webkit-grid-columns: 1fr;
    -o-grid-columns: 1fr;
    grid-template-columns: 1fr;

    -ms-justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    p {
      margin-bottom: 2em;
      margin-block-end: 2em;
    }

    .input-wrapper {
      -ms-display: block;
      -moz-display: block;
      -webkit-display: block;
      -o-display: block;
      display: block;

      input {
        -ms-border-radius: $radius-500;
        -moz-border-radius: $radius-500;
        -webkit-border-radius: $radius-500;
        -o-border-radius: $radius-500;
        border-radius: $radius-500;

        margin-bottom: 1.6em;
        margin-block-end: 1.6em;
        border: 1px solid $tertiary-neutral;
        width: 300px;
        height: 60px;
        padding: 0 5%;
      }

      .btn {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: -ms-fit-content;
        width: fit-content;
        display: block;
        margin: 0 auto;
      }
    }
  }
}
